---
import About from "@components/About.astro";
import AditionalWorks from "@components/AditionalWorks.astro";
import Contact from "@components/Contact.astro";
import FeatureProjects from "@components/FeaturedProjects.astro";
import Hero from "@components/Hero.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("project");

const featuredProjects = projects?.slice(0, 3);
const aditionalProjects = projects?.slice(3);
---

<Layout>
  <main>
    <Hero />
    <About />
    <FeatureProjects featuredProjects={featuredProjects} />
    <AditionalWorks aditionalProjects={aditionalProjects} />
    <Contact />
  </main>
</Layout>
