---
import type { Translate } from "@i18n/utils";

interface Props {
  translate: Translate;
}

const { translate } = Astro.props;
---

<footer class="border-t border-gray-300 px-6 py-12 dark:border-neutral-900">
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-between space-y-4 md:flex-row md:space-y-0"
  >
    <span class="font-title text-lg">ARCHITECT</span>
    <span class="text-sm opacity-75">{translate("footer.copyright")}</span>
  </div>
</footer>
