---
import type { Translate } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import I18NToggle from "./I18nToggle.astro";
import ThemeToggle from "./ThemeToggle.astro";

interface Props {
  lang: string;
  translate: Translate;
}

const { lang, translate } = Astro.props;
---

<div class="flex items-center space-x-4 md:hidden">
  <button
    id="open-menu"
    aria-label="Toggle menu"
    class="flex h-8 w-5 flex-col items-center justify-center gap-1"
  >
    <span
      class="h-0.5 w-5 bg-black transition-all duration-300 ease-in-out dark:bg-white"
    ></span>
    <span
      class="h-0.5 w-5 bg-black transition-all duration-300 ease-in-out dark:bg-white"
    ></span>
    <span
      class="h-0.5 w-5 bg-black transition-all duration-300 ease-in-out dark:bg-white"
    ></span>
  </button>
</div>

<div
  id="mobilMenu"
  class="invisible fixed inset-0 z-15 h-[30vh] border-b border-gray-300 bg-white/85 opacity-0 transition-all duration-300 ease-in-out md:hidden dark:border-neutral-900 dark:bg-black/85"
>
  <div class="relative flex size-full flex-col items-center justify-center">
    <div class="absolute top-4 left-6 flex items-center gap-1">
      <I18NToggle lang={lang} />
      <ThemeToggle />
    </div>
    <button
      id="close-menu"
      class="absolute top-4 right-6 flex h-8 w-5 flex-col items-center justify-center"
      aria-label="Close menu"
    >
      <span class="translatey-0 h-0.5 w-5 rotate-45 bg-black dark:bg-white"
      ></span>
      <span
        class="translatey-0 h-0.5 w-5 -translate-y-0.5 -rotate-45 bg-black dark:bg-white"
      ></span>
    </button>
    <ul class="flex flex-col gap-8">
      <li>
        <a
          aria-label="To about"
          class="font-title text-2xl transition-opacity duration-200 hover:opacity-75"
          href={getRelativeLocaleUrl(lang, "/") + "#about"}
          >{translate("nav.about")}</a
        >
      </li>
      <li>
        <a
          aria-label="To projects"
          class="font-title text-2xl transition-opacity duration-200 hover:opacity-75"
          href={getRelativeLocaleUrl(lang, "/") + "#projects"}
          >{translate("nav.projects")}</a
        >
      </li>
      <li>
        <a
          aria-label="To contact"
          class="font-title text-2xl transition-opacity duration-200 hover:opacity-75"
          href={getRelativeLocaleUrl(lang, "/") + "#contact"}
          >{translate("nav.contact")}</a
        >
      </li>
    </ul>
  </div>
</div>

<script is:inline data-astro-rerun>
  (function () {
    const menu = document.getElementById("mobilMenu");
    const btnOpen = document.getElementById("open-menu");
    const btnClose = document.getElementById("close-menu");
    const [span1, span2, span3] = btnOpen.querySelectorAll("span");
    const menuLinks = menu.querySelectorAll("a");

    function toggleMenu() {
      span1.classList.toggle("rotate-45");
      span1.classList.toggle("translate-y-1.5");
      span2.classList.toggle("opacity-0");
      span3.classList.toggle("-rotate-45");
      span3.classList.toggle("-translate-y-1.5");

      menu.classList.toggle("opacity-0");
      menu.classList.toggle("invisible");
    }

    btnOpen.addEventListener("click", toggleMenu);
    btnClose.addEventListener("click", toggleMenu);

    menuLinks.forEach((link) => {
      link.addEventListener("click", toggleMenu);
    });
  })();
</script>
