---
import type { languages } from "@i18n/ui";
import { useTranslations } from "@i18n/utils";
import Layout from "@layouts/Layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = Astro.currentLocale || "en";
const translateUi = useTranslations(lang as keyof typeof languages);
---

<Layout
  pageTitle={translateUi("404.page")}
  description={translateUi("404.description")}
>
  <div class="flex min-h-screen items-center justify-center">
    <div class="text-center">
      <h1 class="font-title mb-4 text-3xl">{translateUi("404.title")}</h1>
      <a
        href={getRelativeLocaleUrl(lang, "/#projects")}
        class="rounded-md border border-gray-300 px-5 py-2 duration-300 ease-in-out hover:bg-black hover:text-white dark:border-neutral-900 dark:hover:bg-white dark:hover:text-black"
      >
        {translateUi("404.back")}
      </a>
    </div>
  </div>
</Layout>
